<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<script src="/static/vue.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<!--/*@thymesVar id="name" type="java.lang.String"*/-->
<p th:text="'Hello！, '+${name}+'!'">3333</p>


<div id="app">
    <p>{{ name }}</p>
</div>
<script type="text/javascript">
    var name = 123;
    new Vue({
        el: '#app',
        data: {
            name: name
        }
    });
</script>
</body>
</html>

